#nav {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: #1a1a1a;
}

#right-nav,
#left-nav {
  padding: 20px 26px;
}

#left-nav {
  display: flex;
  align-items: center;
}

#nav-logo-container {
  display: flex;
}

#nav-logo-container div {
  align-self: center;
  margin-left: 5px;
  font-size: 20px;
}

#nav-logo-container img {
  margin: 9px 0;
  width: 28px;
  height: 28px;
}

#right-nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

#nav-link-wrapper {
  display: none;
}

.nav-link,
.nav-link:visited {
  color: white;
  text-decoration: none;
}

#nav-link-wrapper .nav-link:not(:last-child),
#nav-join-button {
  padding: 16px 18px;
}

.btn {
  padding: 11px 13px;
  background-color: #e67e22;
  border-radius: 10px;
}

#nav-button {
  display: block;
  outline: none;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  background-color: #1a1a1a1a;
  align-self: center;
  padding: 6px 16px;
  font-size: 20px;
  color: hsla(0, 0%, 100%, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

.drop {
  display: flex !important;
  position: absolute;
  z-index: 1;
  top: 88px;
  left: 0;
  background-color: #1a1a1a;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

@media only screen and (min-width: 768px) {
  #nav-button {
    display: none;
  }

  #nav-link-wrapper {
    display: flex;
    align-items: center;
  }

  #nav-join-button {
    padding-right: 0;
  }

  #right-nav,
  #left-nav {
    padding: 20px 36px;
  }

  #nav-logo-container div {
    font-size: 26px;
  }

  #nav-logo-container img {
    width: initial;
    height: initial;
  }
}