#nav {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  transition: 0.5s;
}

#nav.shrink {
  background-color: rgba(26, 26, 26, 1);
}

#nav.unshrink {
  background-color: rgba(26, 26, 26, 0);
}

#right-nav,
#left-nav {
  padding: 20px 26px;
  animation-name: unshrink-p;
}

#left-nav {
  display: flex;
  align-items: center;
}

#nav-logo-container {
  display: flex;
}

#nav-icon-text {
  align-self: center;
  margin-left: 5px;
  font-size: 20px;
  transition: font-size 0.5s;
}

#nav-icon {
  margin: 9px 0;
  width: 28px;
  height: 28px;
  transition: width 0.5s, height 0.5s;
}

#right-nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

#nav-link-wrapper {
  display: none;
}

.nav-link,
.nav-link:visited {
  color: white;
  text-decoration: none;
}

#nav-link-wrapper .nav-link:not(:last-child),
#nav-join-button {
  padding: 16px 18px;
}

.btn {
  padding: 11px 13px;
  background-color: #e67e22;
  border-radius: 10px;
}

#nav-button {
  display: block;
  outline: none;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  background-color: #1a1a1a1a;
  align-self: center;
  padding: 6px 16px;
  font-size: 20px;
  color: hsla(0, 0%, 100%, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

.drop {
  display: flex !important;
  position: absolute;
  z-index: 1;
  left: 0;
  background-color: #1a1a1a;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.shrink,
.unshrink {
  animation-duration: 0.5s;
}

#left-nav.shrink,
#right-nav.shrink {
  padding-top: 7px;
  padding-bottom: 7px;
  animation-name: shrink-p;
}

#nav-icon.shrink {
  width: 21px;
  height: 21px;
}

#nav-icon-text.shrink {
  font-size: 18px;
}

#left-nav.unshrink,
#right-nav.unshrink {
  animation-name: unshrink-p;
}

@keyframes shrink-p {
  from {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  to {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

@keyframes unshrink-p {
  from {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  to {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) {
  #nav-button {
    display: none;
  }

  #nav-link-wrapper {
    display: flex;
    align-items: center;
  }

  #nav-join-button {
    padding-right: 0;
  }

  #right-nav,
  #left-nav {
    padding: 20px 36px;
  }

  #nav-icon-text {
    font-size: 26px;
  }

  #nav-icon {
    width: 42px;
    height: 42px;
  }
}
